* {
    padding: 0;
    margin: 0;
}

.icon {
    font-family: "iconfont";
}

@font-face {
    font-family: "iconfont";
    /* project id 1618340 */
    src: url("//at.alicdn.com/t/font_1618340_edz3okfkics.eot");
    src: url("//at.alicdn.com/t/font_1618340_edz3okfkics.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1618340_edz3okfkics.woff2") format("woff2"), url("//at.alicdn.com/t/font_1618340_edz3okfkics.woff") format("woff"), url("//at.alicdn.com/t/font_1618340_edz3okfkics.ttf") format("truetype"), url("//at.alicdn.com/t/font_1618340_edz3okfkics.svg#iconfont") format("svg");
}